// /*
//  * Device Tree Overlay for MCP4725 DAC on I2C (nRF52840DK)
//  * Enables TWIM0 (I2C0) for DAC communication
//  * Enables SPIM2 for MUX driver
//  */




&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};


